<div class="x_panel">
    <div id="wizard" class="x_title form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
            <li>
                <a class="selected">
                    <span class="step_no">1</span>
                    <span class="step_descr">Dados Pessoais</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="step_no">2</span>
                    <span class="step_descr">Comprovante</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="x_panel">
    <div class="x_content">
        <p>Por favor confirme seus dados antes de prosseguir</p>
        <form id="sliding-form">
            <div class="form-group">
                <label class="form-control-label">Primeiro nome</label>
                <input type="text" placeholder="Primeiro nome" ng-model="userdata.user.firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">Sobrenome</label>
                <input type="text" placeholder="Sobrenome" ng-model="userdata.user.lastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">CPF</label>
                <input type="number" placeholder="CPF" ng-model="userdata.user.document" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">Telefone de contato</label>
                <input type="number" placeholder="Telefone de contato" ng-model="userdata.user_info.phone" class="form-control" required>
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="userdata.saveUserData()" ng-disabled="form.$invalid || userdata.dataLoading" class="btn btn-primary">Avançar</button>
                <i ng-if="userdata.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </div>
        </form>
    </div>
</div>