<div class="card">
    <div id="status-buttons" class="card-header text-center">
        <a ui-sref-active="active" ui-sref="app.places.edit.data({ place: edit.place })"><span>1</span>Dados</a>
        <a a-disabled="edit.isNewRecord" ui-sref-active="active" ui-sref="app.places.edit.address({ place: edit.place })"><span>2</span>Endereço</a>
        <a ng-if="isAdmin || isOwner" ui-sref-active="active" ui-sref="app.places.edit.contact"><span>3</span>Contato</a>
        <a ng-if="isAdmin || isOwner" ui-sref-active="active" ui-sref="app.places.edit.hours"><span>4</span>Horários</a>
        <a ng-if="isAdmin || isOwner" ui-sref-active="active" ui-sref="app.places.edit.images"><span>5</span>Imagens</a>
    </div>
    <div id="sliding-form" class="card-body">

        <div id="form-views" ui-view>
        </div>

    </div>
</div>