<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Locais</h2>
    </div>
</header>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-9">
            <div id="detail-views" ui-view>
            </div>
        </div>
        <div class="statistics col-lg-3">
            <div class="statistic d-flex align-items-center bg-white has-shadow">
                <div class="icon bg-red"><i class="fa fa-plus-circle lg"></i></div>
                <a ui-sref="app.places.edit">
                    <div class="text">Cadastrar novo local</div>
                </a>
            </div>
            <div class="statistic d-flex align-items-center bg-white has-shadow">
                <div class="icon bg-green"><i class="fa fa-search"></i></div>
                <div class="text">Solicitar gestão de local existente</div>
            </div>
            <div class="statistic d-flex align-items-center bg-white has-shadow">
                <div class="icon bg-orange"><i class="fa fa-chain-broken"></i></div>
                <div class="text">Deixar de ser gestor de um local</div>
            </div>
        </div>
    </div>
</div>