<div class="page-title">
    <div class="title_left">
        <h2>Locais</h2>
        <div class="clearfix"></div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h3>Meus locais</h3>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div ng-if="vm.dataLoading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div ng-if="!vm.dataLoading && vm.noOwnedPlacesFound">
            <p>Você ainda não possui nenhum local sob sua administração.</p>
        </div>
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" ng-repeat="place in vm.filteredPlaces">
                <div uib-accordion-heading>
                    <b>{{ place.attributes.name }} <small> {{ place.attributes.category.attributes.namePT }}</small></b>
                </div>
                <p>Endereço: {{ place.attributes.address }}</p>
                <a ui-sref="app.places.edit.data({ parse_place: place })" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Editar</a>
            </div>
        </uib-accordion>
    </div>
    <ul ng-if="!vm.dataLoading && !vm.noOwnedPlacesFound" uib-pagination direction-links="false" boundary-links="false" items-per-page="vm.numPerPage" total-items="vm.owned_places.length" ng-model="vm.currentPage"></ul>
</div>
<div class="x_panel">
    <div class="x_title">
        <h3>Pedidos de administração</h3>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div ng-if="vm.requestsLoading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div ng-if="!vm.requestsLoading && vm.noAdminRequestsFound">
            <p>Nenhum pedido de administração encontrado.</p>
        </div>
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" ng-repeat="request in vm.filteredAdminRequests">
                <div uib-accordion-heading>
                    <b>{{ request.attributes.place.attributes.name }} <small> {{  request.attributes.place.attributes.category.attributes.namePT }}</small></b>
                </div>
                <p>Endereço: {{ request.attributes.place.attributes.address }}</p>
                <p>Data de solicitação: {{ request.createdAt | date:'dd/MM/yyyy hh:mm:ss' }}</p>
                <p>Observações do solicitante: {{ request.attributes.requestComments }}</p>
                <button ng-click="vm.cancelRequest(request)" class="btn btn-danger"></i>Cancelar Pedido</button>
            </div>
        </uib-accordion>
    </div>
    <ul ng-if="!vm.requestsLoading && !vm.noAdminRequestsFound" uib-pagination direction-links="false" boundary-links="false" items-per-page="vm.numPerPage" total-items="vm.adminRequests.length" ng-model="vm.currentRequestPage"></ul>
</div>