<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
<form name="form" id="sliding-form">
    <div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Galeria</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="img/bg.jpg" alt="image">
                                <div class="mask">
                                    <p>Excluir</p>
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button ng-click="edit.savePlaceData()" ng-disabled="form.$invalid || edit.dataLoading" class="btn btn-primary">Concluir</button>
                <i ng-if="request.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </div>
        </div>
    </div>
</form>