<div class="col-lg-12">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="x_panel">
            <h3 ng-if="vm.newRecord">{{ 'NEW_CITY' | translate }}</h3>
            <h3 ng-if="!vm.newRecord">{{ 'EDIT_CITY' | translate }}</h3>
            <button ng-if="!vm.newRecord" ng-click="vm.CancelEdit()" ng-disabled="vm.saveLoading" class="btn btn-primary btn-xs">{{ 'UNDO' | translate }}</button>
            <form name="form">
                <div class="form-group">
                    <label class="form-control-label">{{ 'COUNTRY' | translate }}</label>
                    <select placeholder="{{ 'COUNTRY' | translate }}" ng-model="vm.newcity.country" required class="form-control" ng-disabled="vm.disabledCountries" ng-options="option.attributes.country for option in vm.countries track by option.id" title="{{ 'COUNTRY' | translate }}">
                            </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'STATE' | translate }}</label><i ng-if="vm.newCityStatesLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                    <select placeholder="{{ 'STATE' | translate }}" ng-model="vm.newcity.state" required ng-disabled="vm.newCityStatesLoading || vm.disabledNewCityStates" class="form-control" ng-options="option.attributes.state for option in vm.newCityStates track by option.id"
                        title="{{ 'STATE' | translate }}">
                            </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="vm.newcity.active" checked> {{ 'ACTIVE' | translate }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'MAP_SEARCH' | translate }}</label>
                    <input id="pac-input" type="text" name="placename" required placeholder="{{ 'MAP_SEARCH' | translate }}" ng-model="vm.mapSearch" class="form-control">
                </div>
                <i ng-if="vm.mapLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <div id="map"></div>

                <div class="form-group">
                    <label class="form-control-label">{{ 'NAME' | translate }}</label>
                    <input id="pac-name" type="text" name="placename" ng-disabled="!vm.newcity.state" required placeholder="{{ 'NAME' | translate }}" ng-model="vm.newcity.name" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'LATITUDE' | translate }}</label>
                    <input id="pac-lat" type="text" disabled placeholder="{{ 'LATITUDE' | translate }}" ng-model="vm.newcity.latitude" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'LONGITUDE' | translate }}</label>
                    <input id="pac-long" type="text" disabled placeholder="{{ 'LONGITUDE' | translate }}" ng-model="vm.newcity.longitude" class="form-control">
                </div>
            </form>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="form-actions">
                <button ng-click="vm.SaveCity()" ng-disabled="vm.saveLoading" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
                <i ng-if="vm.saveLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="x_panel">
            <h3>{{ 'SEARCH' | translate }}</h3>
            <form name="search">
                <div class="form-group">
                    <label class="form-control-label">{{ 'COUNTRY' | translate }}</label>
                    <select placeholder="{{ 'COUNTRY' | translate }}" ng-model="vm.searchCountry" required class="form-control" ng-disabled="vm.disabledCountries" ng-options="option.attributes.country for option in vm.countries track by option.id" title="{{ 'COUNTRY' | translate }}">
                        </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'STATE' | translate }}</label><i ng-if="vm.searchCityStatesLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                    <select placeholder="{{ 'STATE' | translate }}" ng-model="vm.searchState" ng-disabled="vm.searchCityStatesLoading || vm.disabledSearchCityStates" class="form-control" ng-options="option.attributes.state for option in vm.searchStates track by option.id"
                        title="{{ 'STATE' | translate }}">
                        </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{ 'CITY' | translate }}</label>
                    <input id="searchstring" type="text" placeholder="{{ 'SEARCH' | translate }}" ng-model="vm.searchCity" class="form-control">
                </div>
                <div class="form-actions">
                    <button ng-click="vm.SearchCities()" ng-disabled="!vm.searchCountry || vm.searchLoading" class="btn btn-primary ">{{ 'SEARCH' | translate }}</button>
                    <i ng-if="vm.searchLoading " class="fa fa-spinner fa-pulse fa-fw "></i>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="x_panel ">
            <div class="x_title ">
                <h3>{{ 'CITIES' | translate }}</h3>
            </div>
            <div class="x_content ">
                <div ng-if="vm.citiesLoading ">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw "></i>
                    <span class="sr-only ">Loading...</span>
                </div>
                <div ng-if="!vm.citiesLoading && vm.noCitiesFound ">
                    <p>{{ 'NO_CITY_FOUND' | translate }}</p>
                </div>
                <uib-accordion close-others="true ">
                    <div uib-accordion-group class="panel-default" ng-repeat="object in vm.filteredCities">
                        <div uib-accordion-heading>
                            <b>{{ object.name }}</b>
                        </div>
                        <button ng-click="vm.EditCity(object)" class="btn btn-primary">{{ 'EDIT' | translate }}</button>
                        <i ng-if="vm.saveLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                </uib-accordion>
            </div>
            <ul ng-if="!vm.citiesLoading && !vm.noCitiesFound && (vm.cities.length > vm.numPerPage)" uib-pagination direction-links="false " boundary-links="false " items-per-page="vm.numPerPage " total-items="vm.cities.length " ng-model="vm.currentPage "></ul>
        </div>
    </div>
</div>