<!-- Side Navbar -->
<nav class="side-navbar">

    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">{{ vm.user.attributes.firstName + " " + vm.user.attributes.lastName }}</h1>
        </div>
    </div>
    <span class="heading">Menu</span>
    <ul class="list-unstyled" nav-tabs>
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard"><i class="fa fa-bar-chart"></i>Dashboard</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.places"> <i class="icon-home"></i>Locais</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.events"><i class="icon-grid"></i>Eventos</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.profile"> <i class="icon-padnote"></i>Perfil</a>
        </li>
    </ul>
</nav>