<div class="col-md-3 left_col" style="min-height: 100vh">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a ui-sref="app.dashboard" class="site_title"><i class="fa fa-paw"></i> <span>GPlayces</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic" ng-if="vm.profileURL">
                <img ng-src="{{ vm.profileURL }}" alt="" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>{{ 'WELCOME' | translate }}</span>
                <h2>{{ vm.user.firstName + " " + vm.user.lastName }}</h2>
            </div>
        </div>
        <br>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.dashboard"><i class="fa fa-bar-chart"></i> {{ 'DASHBOARD' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a><i class="fa fa-home fa-2x"></i> {{ 'PLACES' | translate }} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: block">
                            <li ui-sref-active="active"><a ui-sref="app.places.myplaces"> {{ 'MY_PLACES' | translate }} </a></li>
                            <li ui-sref-active="active"><a ui-sref="app.places.edit"> {{ 'PLACES_FORM' | translate }}</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.places.created"> {{ 'CREATED_PLACES' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-if="vm.user.isAdmin" ui-sref-active="active">
                        <a><i class="fa fa-lock fa-2x"></i> {{ 'ADMIN' | translate }}<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: block">
                            <li ui-sref-active="active"><a ui-sref="app.approvalrequests"> {{ 'ADMIN_REQUESTS' | translate }}</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.locations"> {{ 'CITIES_FORM' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.profile"><i class="fa fa-user"></i>{{ 'PROFILE' | translate }}</a>
                    </li>
                    <li><a ng-href="#!/logout"><i class="fa fa-sign-out"></i>{{ 'LOGOUT' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

