<div class="x_panel">
    <div id="wizard" class="x_title form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
            <li>
                <a class="selected">
                    <span class="step_no">1</span>
                    <span class="step_descr">{{ 'PERSONAL_DATA' | translate }}</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="step_no">2</span>
                    <span class="step_descr">{{ 'PROOF' | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="x_panel">
    <div class="x_content">
        <p>{{ 'CONFIRM_DATA' | translate }}</p>
        <form id="sliding-form">
            <div class="form-group">
                <label class="form-control-label">{{ 'FIRST_NAME' | translate }}</label>
                <input type="text" placeholder="{{ 'FIRST_NAME' | translate }}" ng-model="userdata.user.firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">{{ 'LAST_NAME' | translate }}</label>
                <input type="text" placeholder="{{ 'LAST_NAME' | translate }}" ng-model="userdata.user.lastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">{{ 'DOCUMENT' | translate }}</label>
                <input type="string" ui-br-cpf-mask placeholder="{{ 'DOCUMENT' | translate }}" ng-model="userdata.user.document" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="form-control-label">{{ 'PHONE' | translate }}</label>
                <input type="text" ui-br-phone-number placeholder="{{ 'PHONE' | translate }}" ng-model="userdata.user_info.phone" class="form-control" required>
            </div>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="form-actions">
                <button type="submit" ng-click="userdata.saveUserData()" ng-disabled="form.$invalid || userdata.dataLoading" class="btn btn-primary">{{ 'ADVANCE' | translate }}</button>
                <i ng-if="userdata.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </div>
        </form>
    </div>
</div>