<div ng-if="events.eventsLoading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
<div ng-if="!events.eventsLoading && events.noEventsFound">
    <p>{{ 'NO_EVENT_FOUND' | translate }}</p>
</div>
<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" ng-repeat="event in events.filteredEvents">
        <div uib-accordion-heading>
            <b>{{ event.attributes.name }}</b>
            <small> {{ event.attributes.start.toLocaleDateString() }} </small>
        </div>
        <a ui-sref="app.places.events.edit({ parse_place: events.place, parse_event: event })" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> {{ 'EDIT' | translate }}</a>
        <button ng-click="events.cancelEvent(event)" class="btn btn-danger "><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
    </div>
</uib-accordion>
<ul ng-if="!events.eventsLoading && !events.noEventsFound" uib-pagination direction-links="false" boundary-links="false" items-per-page="events.numPerPage" total-items="events.placeEvents.length" ng-model="events.currentPage"></ul>