<form name="form">
    <div class="x_panel">
        <div class="x_title">
            <h4>{{ 'EVENT_DATA' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'NAME' | translate }}</label>
            <input type="text" name="name" placeholder="{{ 'NAME' | translate }}" ng-model="edit.event.name" class="form-control" required>
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">{{ 'REQUIRED' | translate }}</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'DESCRIPTION' | translate }}</label>
            <textarea ng-maxlength="250" placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="edit.event.description" class="form-control"></textarea>
        </div>      
        <div class="form-group">
            <label class="form-control-label">{{ 'START' | translate }}</label>
            <input moment-picker="edit.event.start"
                locale="pt-br"
                min-view="year"
                max-view="hour"
                format="LL LTS"
                placeholder="{{ 'START' | translate }}" ng-model="edit.event.startMomentObj" class="form-control"></input>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'END' | translate }}</label>
            <input moment-picker="edit.event.end"
                locale="pt-br"
                min-view="year"
                max-view="hour"
                format="LL LTS"
                placeholder="{{ 'END' | translate }}" ng-model="edit.event.endMomentObj" class="form-control">
            </input>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="edit.event.useSameAddress" value="true">{{ 'USE_PLACE_ADDRESS' | translate }}
                </label>
            </div>
        </div>
        <div ng-if="!edit.event.useSameAddress" class="form-group">
            <label class="form-control-label">{{ 'ADDRESS' | translate }}</label>
            <input ng-maxlength="250" placeholder="{{ 'ADDRESS' | translate }}" ng-model="edit.event.address" class="form-control"></textarea>
        </div>
        <div ng-if="!edit.event.useSameAddress" class="form-group">
            <label class="form-control-label">{{ 'CITY' | translate }}</label>
            <input ng-maxlength="100" placeholder="{{ 'CITY' | translate }}" ng-model="edit.event.city" class="form-control"></textarea>
        </div>          
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="edit.event.isActive" value="">{{ 'ACTIVE' | translate }}
                </label>
            </div>
        </div>                               
    </div>
    <div class="row">
        <div class="x_title">
            <h4>{{ 'COVER_IMAGE' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    {{ 'CHOOSE_A_PHOTO' | translate }}:
                    <input type="file" id="fileInput" accept="image/*" ng-model="image1" image="image1" resize-max-height="1024" resize-max-width="768" resize-quality="0.7" resize-type="image/jpg" ng-image-compress/></div>
                <div class="cropArea card-body">
                    <ui-cropper image="image1.compressed.dataURL" result-blob="edit.resultBlob" result-image-format="image/jpg" result-image-size="400" area-type="square" result-image="edit.myCroppedImage"></ui-cropper>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ 'PREVIEW' | translate }}</div>
                <div class="card-body">
                    <div class="cropped-area form-group text-center">
                        <img ng-src="{{edit.myCroppedImage}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <div class="form-group">
        <button ng-click="edit.saveEvent()" ng-disabled="form.$invalid || edit.dataLoading" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
        <i ng-if="edit.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
    </div>
</form>