<form name="form">
    <div class="x_panel">
        <div class="x_title">
            <h4>{{ 'EVENT_DATA' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'NAME' | translate }}</label>
            <input type="text" name="name" placeholder="{{ 'NAME' | translate }}" ng-model="edit.event.name" class="form-control" required>
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">{{ 'REQUIRED' | translate }}</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'DESCRIPTION' | translate }}</label>
            <textarea ng-maxlength="250" placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="edit.event.description" class="form-control"></textarea>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h4>{{ 'EVENT_DATES' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'DAY' | translate }}</label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'START' | translate }}</label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'END' | translate }}</label>
                </div>
            </div>
            <form name="formdates">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                        <input type="date" name="day" placeholder="{{ 'DAY' | translate }}" ng-model="edit.selectedDate" class="form-control">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                        <select placeholder="{{ 'START' | translate }}" ng-model="edit.selectedStart" ng-options="day as day for day in edit.availableHours" class="form-control"></select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                        <select placeholder="{{ 'END' | translate }}" ng-model="edit.selectedEnd" ng-options="day as day for day in edit.availableHours" class="form-control"></select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                        <button ng-click="edit.addEventDate()" ng-disabled="!edit.selectedStart || !edit.selectedDate || !edit.selectedEnd" class="btn btn-primary">{{ 'ADD' | translate }}</button>
                        <i ng-if="edit.saveHoursLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="x_title">
                <h4>{{ 'PERIODS_REGISTERED' | translate }}</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'DAY' | translate }}</th>
                            <th>{{ 'START' | translate }}</th>
                            <th>{{ 'END' | translate }}</th>
                            <th>{{ 'ACTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="edit.datesLoading">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <tr ng-repeat="date in edit.eventDates | orderBy:'date'">
                            <th scope="row">{{ date.date | date:'dd/MM/yyyy' }}</th>
                            <td>{{ date.start }}</td>
                            <td>{{ date.end }}</td>
                            <td><button ng-click="edit.removeEventDate(date)" class="btn btn-xs btn-danger">{{ 'REMOVE' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_title">
            <h4>{{ 'COVER_IMAGE' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    {{ 'CHOOSE_A_PHOTO' | translate }}:
                    <input type="file" id="fileInput" accept="image/*" ng-model="image1" image="image1" resize-max-height="1024" resize-max-width="768" resize-quality="0.7" resize-type="image/jpg" ng-image-compress/></div>
                <div class="cropArea card-body">
                    <ui-cropper image="image1.compressed.dataURL" result-blob="edit.resultBlob" result-image-format="image/jpg" result-image-size="400" area-type="square" result-image="edit.myCroppedImage"></ui-cropper>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ 'PREVIEW' | translate }}</div>
                <div class="card-body">
                    <div class="cropped-area form-group text-center">
                        <img ng-src="{{edit.myCroppedImage}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <div class="form-group">
        <button ng-click="edit.saveEvent()" ng-disabled="form.$invalid || edit.dataLoading" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
        <i ng-if="edit.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
    </div>
</form>