<div class="page-title">
    <div class="title_left">
        <h2>{{ 'LOCATIONS' | translate }}</h2>
    </div>
</div>
<div class="x_panel">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" ui-sref-active="active">
            <h4><a ui-sref="app.locations.cities" aria-expanded="false">{{ 'CITIES' | translate }}</a></h4>
        </li>
        <li role="presentation" ui-sref-active="active">
            <h4><a ui-sref="app.locations.states" aria-expanded="false">{{ 'STATES_COUNTRIES' | translate }}</a></h4>
        </li>
    </ul>
    <div class="x_content">
        <div id="detail-views" ui-view>
        </div>
    </div>
</div>