<div ng-if="isAdmin || edit.place.isOwner">
    <form name="form" id="sliding-form">
        <div class="x_title">
            <h4>{{ 'ADD_NEW_PERIOD' | translate }}</h4>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'DAY' | translate }}</label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'START' | translate }}</label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <label class="form-control-label">{{ 'END' | translate }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <select placeholder="{{ 'DAY' | translate }}" ng-model="edithours.selectedDay" ng-options="day.day for day in edithours.weekdays track by day.id" class="form-control" required></select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <select placeholder="{{ 'START' | translate }}" ng-model="edithours.selectedStart" ng-options="day as day for day in edithours.availableHours" class="form-control" required></select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <select placeholder="{{ 'END' | translate }}" ng-model="edithours.selectedEnd" ng-options="day as day for day in edithours.availableHours" class="form-control" required></select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 form-group has-feedback">
                    <button ng-click="edithours.saveHoursData()" ng-disabled="form.$invalid || edithours.saveHoursLoading" class="btn btn-primary">{{ 'ADD' | translate }}</button>
                    <i ng-if="edithours.saveHoursLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
            </div>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>
        <div class="form-group">
            <div class="x_title">
                <h4>{{ 'PERIODS_REGISTERED' | translate }}</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'DAY' | translate }}</th>
                            <th>{{ 'START' | translate }}</th>
                            <th>{{ 'END' | translate }}</th>
                            <th>{{ 'ACTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div ng-if="edithours.hoursLoading">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <tr ng-if="!edithours.hoursLoading" ng-repeat="hours in edithours.addedHours | orderBy:'attributes.day'">
                            <th scope="row">{{ hours.attributes.day }}</th>
                            <td>{{ hours.attributes.start }}</td>
                            <td>{{ hours.attributes.end }}</td>
                            <td><button ng-click="edithours.removeHoursData(hours)" ng-disabled="edithours.removeHoursLoading" class="btn btn-xs btn-danger">{{ 'REMOVE' | translate }}</button>
                                <i ng-if="edithours.removeHoursLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-actions">
            <button ng-click="edithours.advanceFlow()" ng-disabled="edithours.hoursLoading" class="btn btn-primary">{{ 'ADVANCE' | translate }}</button>
        </div>
    </form>
</div>