<div class="x_panel">
    <div class="x_title">
        <div id="status-buttons" class="card-header text-center">
            <a ui-sref-active="active" ui-sref="app.places.edit.data({ place: vm.place })"><span>1</span>Dados</a>
            <a a-disabled="vm.isNewRecord" ui-sref-active="active" ui-sref="app.places.edit.address({ place: vm.place })"><span>2</span>Endereço</a>
            <a a-disabled="vm.isNewRecord" ng-if="isAdmin || vm.place.isOwner" ui-sref-active="active" ui-sref="app.places.edit.contact({ place: vm.place })"><span>3</span>Contato</a>
            <a a-disabled="vm.isNewRecord" ng-if="isAdmin || vm.place.isOwner" ui-sref-active="active" ui-sref="app.places.edit.hours({ place: vm.place })"><span>4</span>Horários</a>
            <a a-disabled="vm.isNewRecord" ng-if="isAdmin || vm.place.isOwner" ui-sref-active="active" ui-sref="app.places.edit.images({ place: vm.place })"><span>5</span>Imagens</a>
        </div>
    </div>
    <div class="well well-sm" ng-show="!vm.isNewRecord">
        <h3><img src="{{ vm.placeCoverImage }}" alt="" class="place_thumbnail"> {{ vm.place.name }}</h3>
    </div>
    <div class="col-lg-12">
        <div id="sliding-form" class="card-body">
            <div id="form-views" ui-view>
            </div>
        </div>
    </div>
</div>