<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label class="form-control-label">Nova senha</label>
            <input type="password" placeholder="Nova senha" ng-model="profile.newpassword" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">Repita a senha</label>
            <input type="password" placeholder="Repita a Senha" ng-model="profile.newpasswordcheck" class="form-control">
        </div>
        <div class="form-actions">
            <button ng-disabled="profile.dataLoading || !profile.newpassword || !profile.newpasswordcheck" ng-click="profile.updatePassword()" class="btn btn-primary">Alterar Senha</button>
            <i ng-if="profile.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
    </div>
</div>