<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label class="form-control-label">Cidade</label>
            <select ng-model="profile.userinfo.city" class="form-control" ng-disabled="ctrl.disabled" ng-options="option.attributes.name for option in profile.cities track by option.id" title="Cidade">
    </select>
        </div>
        <div class="form-group">
            <label class="form-control-label">CEP</label>
            <input type="text" placeholder="CEP" ng-model="profile.userinfo.zipcode" ui-br-cep-mask class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">Endereço</label>
            <input type="text" placeholder="Endereço" ng-model="profile.userinfo.address" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">Complemento</label>
            <input type="text" placeholder="Complemento" ng-model="profile.userinfo.complement" class="form-control">
        </div>
        <div class="form-actions">
            <button ng-disabled="profile.dataLoading" ng-click="profile.saveAddressData()" class="btn btn-primary">Avançar</button>
            <i ng-if="profile.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
    </div>
</div>