<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label class="form-control-label">{{ 'FIRST_NAME' | translate }}</label>
            <input type="text" placeholder="{{ 'FIRST_NAME' | translate }}" ng-model="profile.user.firstName" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'LAST_NAME' | translate }}</label>
            <input type="text" placeholder="{{ 'LAST_NAME' | translate }}" ng-model="profile.user.lastName" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'BIRTH_DT' | translate }}</label>
            <input type="date" placeholder="{{ 'BIRTH_DT' | translate }}" ng-model="profile.user.birthday" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'DOCUMENT' | translate }}</label>
            <input type="text" placeholder="{{ 'DOCUMENT' | translate }}" ng-model="profile.user.document" ui-br-cpf-mask class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'PHONE' | translate }}</label>
            <input type="text" ui-br-phone-number placeholder="{{ 'PHONE' | translate }}" ng-model="profile.userinfo.phone" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'EMAIL' | translate }}</label>
            <input type="email" name="email" required placeholder="{{ 'EMAIL' | translate }}" ng-model="profile.user.email" class="form-control">
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">{{ 'FIELD_REQUIRED' | translate }}</span>
            <span ng-show="form.email.$dirty" class="help-block">{{ 'INVALID_EMAIL' | translate }}</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'FACEBOOK_ACCOUNT_SITUATION' | translate }}: </label>
            <div class="input-group">
                <input type="text" placeholder="facebook" ng-model="profile.facebookStatus" disabled class="form-control">
                <span class="input-group-btn">
                            <i ng-if="profile.facebookLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
                    <button ng-disabled="profile.isFacebookLinked" ng-click="profile.linkWithFacebook()" class="btn btn-primary">{{ 'LINK' | translate }}</button>
                  </div>            
            </div>
        </div>
        <div class="form-actions">
            <button ng-disabled="profile.dataLoading || form.$invalid" ng-click="profile.saveUserData()" class="btn btn-primary">{{ 'ADVANCE' | translate }}</button>
            <i ng-if="profile.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
    </div>
</div>