<div class="page-title">
    <div class="title_left">
        <h2>{{ 'PROFILE' | translate }}</h2>
        <div class="clearfix"></div>
    </div>
</div>
<div class="x_panel">
    <div class="col-lg-12">
        <div id="wizard" class="x_title form_wizard wizard_horizontal">
            <ul class="wizard_steps anchor">
                <li>
                    <a ui-sref-active="selected" ui-sref="app.profile.personal">
                        <span class="step_no">1</span>
                        <span class="step_descr">{{ 'PERSONAL_DATA' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="selected" ui-sref="app.profile.address">
                        <span class="step_no">2</span>
                        <span class="step_descr">{{ 'ADDRESS' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="selected" ui-sref="app.profile.photo">
                        <span class="step_no">3</span>
                        <span class="step_descr">{{ 'PROFILE_PHOTO' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a ui-sref-active="selected" ui-sref="app.profile.changepassword">
                        <span class="step_no">4</span>
                        <span class="step_descr">{{ 'CHANGE_PASSWORD' | translate }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-lg-12">
            <form id="sliding-form" name="form">
                <div id="form-views" ui-view>
                </div>
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            </form>

        </div>
    </div>
</div>
</div>