<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label class="form-control-label">{{ 'NEW_PASSWORD' | translate }}</label>
            <input type="password" placeholder="{{ 'NEW_PASSWORD' | translate }}" ng-model="profile.newpassword" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">{{ 'REPEAT_PASSWORD' | translate }}</label>
            <input type="password" placeholder="{{ 'REPEAT_PASSWORD' | translate }}" ng-model="profile.newpasswordcheck" class="form-control">
        </div>
        <div class="form-actions">
            <button ng-disabled="profile.dataLoading || !profile.newpassword || !profile.newpasswordcheck" ng-click="profile.updatePassword()" class="btn btn-primary">{{ 'SAVE' | translate }}</button>
            <i ng-if="profile.dataLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
        </div>
    </div>
</div>