<div class="x_panel">
    <div id="wizard" class="x_title form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
            <li>
                <a ui-sref-active="selected" ui-sref="app.places.edit.data({ place: vm.place })">
                    <span class="step_no">1</span>
                    <span class="step_descr">{{ 'DATA' | translate }}</span>
                </a>
            </li>
            <li>
                <a a-disabled="vm.isNewRecord" ui-sref-active="selected" ui-sref="app.places.edit.address({ place: vm.place })">
                    <span class="step_no">2</span>
                    <span class="step_descr">{{ 'ADDRESS' | translate }}</span>
                </a>
            </li>
            <li ng-if="isAdmin || vm.place.isOwner">
                <a a-disabled="vm.isNewRecord" ui-sref-active="selected" ui-sref="app.places.edit.contact({ place: vm.place })">
                    <span class="step_no">3</span>
                    <span class="step_descr">{{ 'CONTACT' | translate }}</span>
                </a>
            </li>
            <li ng-if="isAdmin || vm.place.isOwner">
                <a a-disabled="vm.isNewRecord" ui-sref-active="selected" ui-sref="app.places.edit.hours({ place: vm.place })">
                    <span class="step_no">4</span>
                    <span class="step_descr">{{ 'HOURS' | translate }}</span>
                </a>
            </li>
            <li ng-if="isAdmin || vm.place.isOwner">
                <a a-disabled="vm.isNewRecord" ui-sref-active="selected" ui-sref="app.places.edit.images({ place: vm.place })">
                    <span class="step_no">5</span>
                    <span class="step_descr">{{ 'IMAGES' | translate }}</span>
                </a>
            </li>
            <li ng-if="isAdmin || vm.place.isOwner">
                <a a-disabled="vm.isNewRecord" ui-sref-active="selected" ui-sref="app.places.edit.activation({ place: vm.place })">
                    <span class="step_no">Final</span>
                    <span class="step_descr">{{ 'ACTIVATION' | translate }}</span>
                </a>
            </li>            
        </ul>
    </div>
    <div class="well well-sm" ng-show="!vm.isNewRecord">
        <h3><img ng-if="vm.placeCoverImage" ng-src="{{ vm.placeCoverImage }}" alt="" class="place_thumbnail"> {{ vm.place.name }}</h3>
    </div>
    <div class="col-lg-12">
        <div id="sliding-form" class="card-body">
            <div id="form-views" ui-view>
            </div>
        </div>
    </div>
</div>